/* main.scss */
/* Coded by: Jarod Teague */
/* 
    NOTE: all modifications were tested only for the firefox browser, It has not been tested for others.
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
/* color theme, the entire page's color scan be changed just by altering these values*/
/* video can be resized, only really used within video-cta*/
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-evenly;
}

@media only screen and (min-width: 320px) {
  .hero {
    text-align: center;
  }
  .hero .container {
    padding-top: 15em;
    padding-bottom: 15em;
    background: #fff;
    background-image: url("../Skills-Assessment-assets/HERO_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .hero .logo h1 {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 900;
    color: #de041c;
    font-size: 3em;
    margin-bottom: -0.35em;
    padding: 0;
  }
  .hero .logo h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
    color: #fff;
    font-size: 1.785em;
    margin-top: 0;
    padding: 0;
  }
  .hero p {
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 25em;
    margin-inline: auto;
    margin-top: 0em;
  }
  .video-cta {
    background: #de041c;
    height: 200%;
  }
  .video-cta .container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .video-cta .vid-box {
    background: #000;
    display: block;
    width: 476px;
    height: 252px;
    box-shadow: 0em 0em 3em #000;
  }
  .video-cta video {
    width: 476px;
    height: 252px;
  }
  .img-gallery {
    visibility: visible;
    width: 100vw;
    height: 440px;
    position: relative;
    z-index: 0;
  }
  .img-gallery .bg {
    background-image: url("../Skills-Assessment-assets/HERO_3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 440px;
    opacity: 0.5;
  }
  .img-gallery .corousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .img-gallery .corousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .img-gallery .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: 200ms opacity ease-in-out;
  }
  .img-gallery .slide > img {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0em 0em 6em #fff;
  }
  .img-gallery .slide[data-active] {
    opacity: 1;
  }
  .img-gallery .carousel-button {
    opacity: 0.2;
    transition: 400ms opacity ease-in-out;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 0.33rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .img-gallery .carousel-button:hover {
    opacity: 1;
  }
  .img-gallery .carousel-button.prev {
    left: 1rem;
  }
  .img-gallery .carousel-button.next {
    right: 2rem;
  }
  .img-gallery .slide > .pic1 {
    height: 130%;
    width: auto;
  }
  .img-gallery .slide > .pic3 {
    height: 130%;
    width: auto;
  }
  .img-gallery .slide > .pic5 {
    height: 130%;
    width: auto;
  }
  .img-gallery .divider {
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    bottom: 0%;
  }
  .hero-lower {
    position: relative;
    height: 900px;
  }
  .hero-lower .bg {
    position: absolute;
    background-image: url("../Skills-Assessment-assets/SPLASH_WATERMARK.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    top: 1em;
  }
  .hero-lower .container {
    margin-top: 0em;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
  }
  .hero-lower .collage-container {
    visibility: collapse;
  }
  .hero-lower img {
    margin: 0 auto;
  }
  .hero-lower .pitch {
    position: absolute;
    width: 90%;
    text-align: bottom left;
    margin-right: 1em;
    margin-left: 1em;
    top: 1em;
  }
  .hero-lower .pitch .spacer {
    width: 100%;
    height: 20px;
  }
  .hero-lower .pitch h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
  }
  .hero-lower .pitch h2 {
    text-transform: uppercase;
    margin-top: -0.6em;
    font-weight: 900;
    font-size: 2em;
    color: #de041c;
  }
  .hero-lower .pitch .black-line {
    background: #000;
    height: 3px;
    width: 117%;
    margin-right: -5em;
  }
  .hero-lower .pitch .red {
    color: #de041c;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1920px) {
  .hero {
    z-index: -10;
    text-align: center;
  }
  .hero .container {
    padding-top: 15em;
    padding-bottom: 20em;
    background: #fff;
    background-image: url("../Skills-Assessment-assets/HERO_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .hero .logo h1 {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 900;
    color: #de041c;
    font-size: 7em;
    margin-bottom: -0.35em;
    padding: 0;
  }
  .hero .logo h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
    color: #fff;
    font-size: 4.165em;
    margin-top: 0;
    padding: 0;
  }
  .hero p {
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 45em;
    margin-inline: auto;
    margin-top: -2em;
  }
  .video-cta {
    background: #de041c;
    height: 75px;
  }
  .video-cta .container {
    display: flex;
    justify-content: center;
    margin-top: -10em;
  }
  .video-cta .vid-box {
    background: #000;
    display: block;
    width: 680px;
    height: 360px;
    box-shadow: 0em 0em 3em #000;
  }
  .video-cta video {
    width: 680px;
    height: 360px;
  }
  .img-gallery {
    visibility: collapse;
    height: 0px;
  }
  .hero-lower {
    position: relative;
  }
  .hero-lower .bg {
    position: absolute;
    background-image: url("../Skills-Assessment-assets/SPLASH_WATERMARK.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.1;
  }
  .hero-lower .container {
    position: relative;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
  }
  .hero-lower .collage-container {
    visibility: visible;
    margin-top: 1em;
    display: flex;
    height: 60%;
    width: 60%;
    margin-top: 0.7em;
    gap: 12px;
  }
  .hero-lower .collage img {
    margin: 0.2em;
    margin-left: 0em;
    margin-right: 0.4em;
  }
  .hero-lower .collage .img1 {
    position: relative;
    width: 52%;
    height: 50%;
    bottom: 5px;
  }
  .hero-lower .collage .img4 {
    position: relative;
    width: 35.45%;
    height: 325px;
    left: 4px;
  }
  .hero-lower .collage .img5 {
    height: 325px;
    width: 15.25%;
  }
  .hero-lower .collage .img2 {
    position: relative;
    height: 325px;
    top: 50px;
    left: 2px;
  }
  .hero-lower .collage .img3 {
    position: relative;
    bottom: 92px;
    left: 7px;
  }
  .hero-lower .pitch {
    position: relative;
    flex: 1;
    width: 90%;
    text-align: bottom left;
    margin-right: 8em;
    margin-left: -2em;
    gap: 1em 1em;
  }
  .hero-lower .pitch .spacer {
    z-index: 10;
    width: 100%;
    height: 30%;
  }
  .hero-lower .pitch h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
  }
  .hero-lower .pitch h2 {
    text-transform: uppercase;
    margin-top: -0.85em;
    font-weight: 900;
    font-size: 3em;
    color: #de041c;
  }
  .hero-lower .pitch .black-line {
    background: #000;
    height: 3px;
    width: 117%;
    margin-top: -0.85em;
    margin-right: -5em;
  }
  .hero-lower .pitch .red {
    color: #de041c;
    font-weight: 900;
  }
}/*# sourceMappingURL=main.css.map */