/* Main.scss */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
/*Custom properties, very similar to variables*/
/*in this example we're using them to set a color scheme*/
body, html {
  height: 100%;
}

body {
  margin: 0; /*margins effect everything on the outside of the page*/
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

@media only screen and (min-width: 320px) {
  .hero {
    text-align: center;
  }
  .hero .container {
    padding-top: 15em;
    padding-bottom: 15em;
    background: #fff;
    background-image: url("../Skills-Assessment-assets/HERO_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .hero .logo h1 {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 900;
    color: #de041c;
    font-size: 3em;
    margin-bottom: -0.35em;
    padding: 0;
  }
  .hero .logo h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
    color: #fff;
    font-size: 1.785em;
    margin-top: 0;
    padding: 0;
  }
  .hero p {
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 25em;
    margin-inline: auto;
    margin-top: 0em;
  }
  .video-cta {
    background: #de041c;
    height: 200%;
  }
  .video-cta .container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .video-cta .vid-box {
    background: #000;
    display: block;
    width: 448px;
    height: 252px;
    box-shadow: 0em 0em 3em #000;
  }
  .video-cta video {
    width: 448px;
    height: 252px;
  }
  .hero-lower .bg {
    position: absolute;
    background-image: url("../Skills-Assessment-assets/SPLASH_WATERMARK.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 200%;
    width: 100%;
    opacity: 0.1;
  }
  .hero-lower .container {
    margin-top: 0em;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
  }
  .hero-lower .collage-container {
    display: flex;
    width: 100vw;
    gap: 0.6em 0.7em;
  }
  .hero-lower img {
    margin: 0 auto;
  }
  .hero-lower .collage .img1 {
    flex-grow: 1;
  }
  .hero-lower .collage .img2 {
    flex-grow: 1;
  }
  .hero-lower .collage .img3 {
    flex-grow: 1;
    order: 2;
  }
  .hero-lower .collage .img4 {
    flex-shrink: 1;
  }
  .hero-lower .collage .img5 {
    flex-shrink: 1;
  }
  .hero-lower .pitch {
    width: 90%;
    text-align: bottom left;
    margin-right: 1em;
    margin-left: 1em;
  }
  .hero-lower .pitch .spacer {
    width: 100%;
    height: 30%;
  }
  .hero-lower .pitch h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
  }
  .hero-lower .pitch h2 {
    text-transform: uppercase;
    margin-top: -0.6em;
    font-weight: 900;
    font-size: 2em;
    color: #de041c;
  }
  .hero-lower .pitch .black-line {
    background: #000;
    height: 3px;
    width: 117%;
    margin-right: -5em;
  }
  .hero-lower .pitch .red {
    color: #de041c;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1920px) {
  .hero {
    text-align: center;
  }
  .hero .container {
    padding-top: 15em;
    padding-bottom: 20em;
    background: #fff;
    background-image: url("../Skills-Assessment-assets/HERO_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .hero .logo h1 {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 900;
    color: #de041c;
    font-size: 7em;
    margin-bottom: -0.35em;
    padding: 0;
  }
  .hero .logo h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
    color: #fff;
    font-size: 4.165em;
    margin-top: 0;
    padding: 0;
  }
  .hero p {
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 45em;
    margin-inline: auto;
    margin-top: -2em;
  }
  .video-cta {
    background: #de041c;
    height: 5%;
  }
  .video-cta .container {
    display: flex;
    justify-content: center;
    margin-top: -10em;
  }
  .video-cta .vid-box {
    background: #000;
    display: block;
    width: 640px;
    height: 360px;
    box-shadow: 0em 0em 3em #000;
  }
  .video-cta video {
    width: 640px;
    height: 360px;
  }
  .hero-lower .bg {
    position: absolute;
    background-image: url("../Skills-Assessment-assets/SPLASH_WATERMARK.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: 0.1;
  }
  .hero-lower .container {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
  }
  .hero-lower .collage-container {
    margin-top: 2em;
    display: flex;
    height: 60%;
    width: 60%;
    margin-top: 0.7em;
    gap: 12px;
  }
  .hero-lower .collage img {
    margin: 0.2em;
    margin-left: 0em;
    margin-right: 0.4em;
  }
  .hero-lower .collage .img1 {
    position: relative;
    width: 53.7%;
    height: 50%;
    bottom: 3px;
  }
  .hero-lower .collage .img4 {
    width: 36.45%;
    height: 325px;
  }
  .hero-lower .collage .img5 {
    height: 325px;
    width: 16.25%;
  }
  .hero-lower .collage .img2 {
    position: relative;
    height: 325px;
    top: 70px;
    left: 3px;
  }
  .hero-lower .collage .img3 {
    position: relative;
    bottom: 75px;
    left: 3px;
  }
  .hero-lower .pitch {
    flex: 1;
    width: 90%;
    text-align: bottom left;
    margin-right: 8em;
    margin-left: -2em;
    gap: 1em 1em;
  }
  .hero-lower .pitch .spacer {
    width: 100%;
    height: 30%;
  }
  .hero-lower .pitch h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
  }
  .hero-lower .pitch h2 {
    text-transform: uppercase;
    margin-top: -0.6em;
    font-weight: 900;
    font-size: 3em;
    color: #de041c;
  }
  .hero-lower .pitch .black-line {
    background: #000;
    height: 3px;
    width: 117%;
    margin-right: -5em;
  }
  .hero-lower .pitch .red {
    color: #de041c;
    font-weight: 900;
  }
}/*# sourceMappingURL=main.css.map */